body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

button {
    margin: 10px;
    padding: 15px 30px; /* Increased padding for larger button */
    font-size: 24px; /* Larger font size */
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #ff85a2;
    color: white;
    width: 200px; /* Fixed width for consistency */
    height: 60px; /* Fixed height for consistency */
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2); /* Optional: Adds a subtle shadow for depth */
}

button:hover {
    background-color: #ff5788;
}

#celebration-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#celebration-container p {
    font-size: 2em; /* Larger text */
    color: #ff5788;
    margin-top: 20px;
}

#celebration-image {
    max-width: 50%; /* Adjust size as needed */
    height: auto;
}
